body {
    background-color: #F0F0F0;
	padding: 0;
	margin: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

header li {
    float: left;
    border-right: 1px solid #bbb;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}

#active {
    background-color: #4CAF50;
}

section {
	margin: auto;
	margin-top: 120px;
	padding: auto;
	height: 600px;
	width: 800px;
}

section img {
	width: 80px;
	height: 80px;
}

#divLiens {
    float: right;
    margin: 0;
}

#imgProfil {
	float: right;
    height: 300px;
    width: 280px;
	}


#contenuSect {
    padding-left: 15px;
    padding-top: 6px;
}


#milieu {
    background-color: #E0E0E0;
    border: 5px solid #333;
    border-top: none;
    height: 400px;
    box-shadow:2px 2px 10px gray inset;
    -moz-box-shadow:2px 2px 10px gray inset;
    -webkit-box-shadow:2px 2px 10px gray inset;
}

section nav {
    padding: 0; 
    margin: 0;
    text-align: center; /* centrer le texte */
}


section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 795px;
}

section nav li {
    display: inline;
    margin: 0;
    padding: 0;
    padding: auto;
    justify-content: space-around;
    list-style: none;
    margin-left: -4px;

}

section nav li a {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

section nav li:nth-child(2) a {
    border-left: 1px solid #bbb;
}

section nav li:nth-child(3) a {
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}

section nav li a:hover {
    background-color: #111;
}

#contenu {
    margin: 0;
    padding: 0;
    display: flex;
}

#contenu li {
    list-style: none;
}

#contenu div {
    padding: 0;
    margin: 0;
    width: 100%;
}

#contenu div ul{
    padding-top: 7px;
    width: 100%;
}

#entete ul {
    display: flex;
    margin: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
}

#entete ul li {
    list-style: none;
    margin-right: 10px;
}

#entete {
    margin: 0;
    padding: 0;
    text-align: center;
}

#imgProfil2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#contenuXp {
    margin: 0;
    padding: 0;
}

#contenuXp ul{
    margin: 25px;
    margin-bottom: 25px;
    margin-left: 50px;

}

#contenuXp li {
    list-style: none;
}

#contenuForm {
    margin: 0;
    padding: 0;
}

#contenuForm ul{
    margin: 40px;
    margin-bottom: 30px;
    margin-left: 105px;

}

#contenuForm li {
    list-style: none;
}

#contenuProjets {
    display: flex;
    height: 100%;
}

#divTexte {
    width: 80%;
    height: 100%;
}

#contenuProjets ul li{
    list-style: none;
}

.imgScreen {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0; 
    padding-left: 45px;
    padding-top: 28px;
}

.imgScreen:hover {
    box-shadow: auto #333;
}

#divImg {
    display: inline-block;
    width: 10%;
    height: 100%;
}



#img4 {
    padding-top: 20px;
    padding-bottom: 8px;
}

#permis {
    display: inline-block;
}